* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: url('fon.jpg') no-repeat center center fixed; background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff; /* временный белый фон */
}

body.loaded {
    background-image: url('fon.jpg');
}

.container {
    background: rgba(255,255,255,0.6);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.5);
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin-top: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.container.loaded {
    opacity: 1;
}

h1 {
    color: #fd4c4c;
    margin-bottom: 5px;
    font-size: 3.2em;
    font-family: 'Great Vibes', cursive;
    display: block;
}

p.main-text {
    color: #fd4c4c;
    font-size: 2.1em;
    line-height: 1.0;
    margin: 15px 0;
    font-family: 'Great Vibes', cursive;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    text-align: center;
}

p.event-text {
    color: #fd4c4c;
    font-size: 2.1em;
    line-height: 1.0;
    margin: 15px 0;
    font-family: 'Great Vibes', cursive;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.4);
    text-align: center;
}